.hero {
    background: #000;
    height: 150px;
    position: relative;
    opacity: .75;

    img {
        object-fit: cover;
        object-position: top;
    }
}

@media screen and (min-width: 768px) {
    .hero {
        height: 100%;
        position: fixed;
        width: 100%;

        img {
            object-position: center;
        }
    }
}

@media (prefers-color-scheme: light) {
    .hero {
        background: #fff;
        opacity: .9;
    }
}
