.hero {
    background: #000;
    height: 150px;
    position: relative;
    opacity: .75;

    img {
        object-fit: cover;
        object-position: top;
    }

    /* this has the effect of disabling the motion page transitions on mobile by hiding the element that is inserted into the DOM during animation */
    &:nth-of-type(2) { display: none; }
}

@media screen and (min-width: 768px) {
    .hero {
        height: 100%;
        position: fixed;
        width: 100%;

        img {
            object-position: center;
        }

        /* this has the effect of enabling the motion page transitions on mobile by displaying the element that is inserted into the DOM during animation */
        &:nth-of-type(2) { display: block; }
    }
}

@media (prefers-color-scheme: light) {
    .hero {
        background: #fff;
        opacity: .9;
    }
}
