
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: rgba(42, 42, 48, .8);
    color: #fff;
    color-scheme: dark;
    font-size: 14px;
}

a {
    color: #bfbfbf;
    text-decoration: none;
    text-shadow: 1px 1px rgba(0, 0, 0, .2);
    transition: color .25s ease;

    &:hover, &.current {
        color: rgba(255, 255, 255, .9);
        text-shadow: 1px 1px rgba(0, 0, 0, .5);
    }

    &:active {
        color: #fff;
        text-shadow: 1px 1px rgba(200, 200, 200, .4);
    }
}

/* into desktop land */
@media screen and (min-width: 768px) {
    html {
        background-color: #303030;
        overflow-y: scroll;
    }

    main {
        height: 100vh;
        position: absolute;
        max-width: 800px;
        right: 0;
        width: 55%;
    }
}

@media (prefers-color-scheme: light) {
    html {
        background-color: rgba(200, 200, 200, .6);
        color-scheme: light;
    }

    a, a:active {
        color: #111;
        text-shadow: 1px 1px rgba(170, 170, 170, .25);

        &:hover, &.current {
            color: rgba(80, 80, 80, .95);
            text-shadow: 1px 1px rgba(100, 100, 100, .2);
        }

        &:active {
            color: #eee;
        }
    }
}