
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background-color: rgba(42, 42, 48, .8);
	color: #fff;
    color-scheme: dark;
	font-family:  PT Sans, Trebuchet MS, Geneva, Helvetica Neue, sans-serif;
	font-size: 14px;
}

a {
	color: #bfbfbf;
	text-decoration: none;
	text-shadow: 1px 1px rgba(0, 0, 0, .2);
	transition: color .25s ease;

	&:hover, &.current {
		color: rgba(255, 255, 255, .9);
		text-shadow: 1px 1px rgba(0, 0, 0, .5);
	}

	&:active {
		color: #fff;
		text-shadow: 1px 1px rgba(200, 200, 200, .4);
	}
}

/* interior pages */
article {
	background-color: rgba(50, 50, 50, .7);
	color: #ccc;
	width: 100%;
	padding: 10px 0;

	a, a:hover, a:active {
		color: #ff4444;
		text-shadow: none;

		&:hover {
			color: #ff7777;
		}

		&:active {
			color: #ff9999;
		}
	}

	h3, h4, ol, ul, dl, p, pre { margin: 0 4% 16px; }
	h3, h4 { margin-bottom: 10px; font-size: 28px; font-weight: normal; text-transform: uppercase; }
	h4 { font-size: 18px; text-transform: none; }
	h5 { font-size: 16px; text-transform: uppercase; margin: 0 3% 10px; }
	ol, ul { padding-left: 28px; }
	ul { list-style-type: square; }
	dl, dd ul { margin-top: 10px; }
	dd ul { margin-left: 0; }
	dt { float: right; clear: right; }
	sup { line-height: 0; }
	
	&.on {
		opacity: 1;
		transition: opacity .75s ease;
	}

	&.off {
		opacity: 0;
		height: 0;
		padding: 0;
	}
}

/* into desktop land */
@media screen and (min-width: 768px) {
	html {
		background-color: #303030;
		overflow-y: scroll;
	}

	main {
		position: absolute;
		right: 0;
		width: 47%;
		height: 100vh;
	}

	article {
		position: absolute;
		top: 11%;
		font-size: 100%;
		padding: 20px 0 30px;

		h3, h4, ol, ul, dl, p, pre {
			margin-left: 5%;
			margin-right: 3%;
		}

		&.on {
			top: 11%;
			transition: top .375s ease;
		}

		&.off {
			top: 100%;
			transition: top .25s ease-out;
			height: auto;
			opacity: 1;

			* {
				display: block;
			}
		}
	}
}


@media (prefers-color-scheme: light) {
	html {
        background-color: rgba(200, 200, 200, .6);
		color-scheme: light;
	}

	a, a:active {
		color: #111;
		text-shadow: 1px 1px rgba(170, 170, 170, .25);

		&:hover, &.current {
			color: rgba(80, 80, 80, .95);
			text-shadow: 1px 1px rgba(100, 100, 100, .2);
		}

		&:active {
			color: #eee;
		}
	}

	article {
		background-color: rgba(237, 237, 237, .7);
		color: #454545;

		a, a:hover, a:active {
			color: #840000;
	
			&:hover {
				color: #e00000;
			}
	
			&:active {
				color: #ff4e4e;
			}
		}
	}
}